
.TopBar{
    background-color: azure;
    padding:30px;
    font-size: 20px;
}

.ElementList{
    margin-left:350px;
    margin-right:350px;
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
}
